<div id="error-500" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">500</div>

        <div class="message">{{'PAGES.ERRORS.500.DETAIL' | translate}}</div>

        <div class="sub-message">
            {{'PAGES.ERRORS.500.DETAIL2' | translate}}
        </div>

        <a class="report-link" [routerLink]="'/apps/dashboards/project'">{{'PAGES.ERRORS.500.GO_BACK_BUTTON' | translate}}</a>

    </div>

</div>
