<div class="dialog-content-wrapper" *blockUI="'form-dialog'">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <h2 mat-dialog-title class="title dialog-title">
                {{title | translate}}
            </h2>
            <button mat-icon-button (click)="cancel()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="dialogForm" autocomplete="off">
            <div fxLayout="row">
                <div fxFlex="50" class="mr-4">
                    <mat-form-field class="w-100-p">
                        <input matInput name="Nombres" formControlName="Nombres" placeholder="Nombres"
                            required minlength="3" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="ml-4">
                    <mat-form-field class="w-100-p">
                        <input matInput name="Apellidos" formControlName="Apellidos" placeholder="Apellidos"
                            required minlength="3" maxlength="6" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <!--<div fxFlex="50" class="mr-4">
                    <mat-form-field class="w-100-p">
                        <input matInput name="DocumentNumber" formControlName="DocumentNumber" placeholder="Número de Documento"
                            required minlength="3" autocomplete="off">
                    </mat-form-field>
                </div>-->
                <div fxFlex="50" class="ml-4">
                    <mat-form-field class="w-100-p">
                        <input matInput name="Telefono" formControlName="Telefono" placeholder="Teléfono"
                            required minlength="3" maxlength="15" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50" class="mr-4">
                    <mat-form-field class="w-100-p">
                        <input matInput name="Email" formControlName="Email" placeholder="E-mail"
                            required minlength="3" autocomplete="off">
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="ml-4">
                    <mat-form-field class="w-100-p">
                        <!-- <input matInput name="BirthDate" formControlName="BirthDate" placeholder="Fecha de Nacimiento"
                            required minlength="3" maxlength="6" autocomplete="off"> -->

                            <input #BirthDate matInput [matDatepicker]="picker1" placeholder="Fecha de Nacimiento"
                                formControlName="FechaNacimiento" (focus)="picker1.open();" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>

                    </mat-form-field>
                </div>
            </div>            
            <!--<div fxLayout="row">
                <div fxFlex="50" class="mr-4">
                    <mat-form-field class="w-95-p">
                        <mat-select name="GenderId" formControlName="GenderId" placeholder="Género" required>
                            <mat-option *ngFor="let gen of genders" [value]="gen.Id">
                                {{gen.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="ml-4">
                    <mat-form-field class="w-95-p">
                        <mat-select name="SportId" formControlName="SportId" placeholder="Deporte" required>
                            <mat-option *ngFor="let dep of sports" [value]="dep.Id">
                                {{dep.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>-->           
        
        </form>
    </div>

    <div mat-dialog-actions class="m-0 py-12 px-24" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="accent" (click)="save()" [disabled]="dialogForm.invalid"
            aria-label="action == 'edit' ? 'SAVE CHANGES' : 'SAVE'">
            {{action == 'edit' ? 'Guardar cambios' : 'Guardar'}}
        </button>

        <button mat-raised-button color="warn" class="ml-8" (click)="cancel()" aria-label="CANCEL">
            Cancelar
        </button>
    </div>
</div>
