<div id="error-403" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">403</div>

        <div class="message">{{'PAGES.ERRORS.403.DETAIL' | translate}}</div>

        <!-- <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Search for something" fxFlex>
        </div> -->

        <a class="back-link" [routerLink]="''">{{'PAGES.ERRORS.403.GO_BACK_BUTTON' | translate}}</a>
        <a class="back-link" [routerLink]="'/ui/auth/login'">{{'PAGES.ERRORS.403.GO_BACK_TO_LOGIN_BUTTON' | translate}}</a>

    </div>

</div>